<div class = "well">
	<p> Your cards are:</p>
	<% session[:player_cards].each do |card| %>
		<%= card_image(card) %>
	<% end %>
</div>

<div class = "well">
	<% if @not_show_first %>
		<div>
			<p> The dealer's cards are: </p>
				<img src='/images/cards/cover.jpg'>
				<%= card_image((session[:dealer_cards])[1]) %>
		</div>
	<% elsif @show_dealer_cards %>
		<div>
			<div>
				<p>The dealer's cards are: </p>
				<% session[:dealer_cards].each do |card| %>
					<%= card_image(card) %>
				<% end %>
			</div>
	<% end %>
	<% if @show_dealer_hit %>
			<form action ="/game/dealer/hit" method="POST">
				<input type="submit" class = "btn btn-primary" value="See dealer's next card">
			</form>
		</div>
	<% end %>	
</div>

<% if @show_decision %>
	<div>
		<h4>Your total is <%= calculate_total(session[:player_cards]) %>. Would you like to hit or stay? </h4>
		<form action ="/game/player/hit" method="POST">
			<input type="submit" class = "btn btn-info" value="Hit">
		</form>
		<form action="/game/player/stay" method="POST">
			<input type="submit" class = "btn btn-warning" value="Stay">
		</form>
	</div>
<% end %>