<form class="form-search" method='post'>
	<h3>What's your name?</h3>
  <input type="text" class="input-medium search-query" name="player_name">
  <button type="submit" class="btn">Submit</button>
</form>